.overview {
  margin-top: 7vh;
  padding: 2rem;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 450px auto;
  gap: 2rem;
}

.radial-bar > g > path:nth-child(2) {
  display: none;
}

.radial-bar > g > g > path:nth-child(2) {
  display: none;
}

sup {
  top: -0.35em;
}

.transaction-item {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: left;
  background-color: #f0f0f0;
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.category-badge {
  position: absolute;
  top: -20%;
  left: -1%;
  border-radius: 0.5rem;
}

.delete-button {
  background-color: transparent;
  border: none;
}

.delete-button:hover {
  background-color: transparent;
  border: none;
}

.delete-button > svg {
  transition: color 0.3s ease-in-out;
}

.delete-button:hover > svg {
  color: #f16868;
}

.new-transaction-button {
  background-color: #2130cf;
  color: white;
  border-radius: 9999px;
}

.new-transaction-button:hover {
  background-color: #212fcfab;
  color: white;
  border-radius: 9999px;
}

.warning-label {
  position: absolute;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day-buttons {
  position: absolute;
  bottom: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.day-buttons > button {
  background-color: #eff0f3;
  color: black;
  border-radius: 0.5rem;
}

.income-checkbox {
  width: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

[role="dialog"] > button {
  background-color: #111111;
}
