.account-badge {
  background-color: #2130cf;
  border-radius: 9999px;
}

.new-account-button {
  background-color: #2130cf;
  color: white;
  border-radius: 9999px;
}

.new-account-button:hover {
  background-color: #212fcfab;
  color: white;
  border-radius: 9999px;
}
