.container {
  padding: 1rem 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.new-goal-button {
  background-color: #2130cf;
  color: white;
  border-radius: 9999px;
}

.goalsGrid {
  margin-top: 1rem;
}

.goalCard {
  height: 100%;
  transition: transform 0.2s ease-in-out;
}

.goalCard:hover {
  transform: translateY(-4px);
}

.progress {
  margin: 1rem 0;
  height: 8px !important;
  border-radius: 4px;
}

.progressText {
  margin-bottom: 0.5rem;
  color: #666;
}

.datePicker {
  width: 100%;
  margin-top: 1rem;
}

.calendar button {
  background: rgb(0, 0, 0) !important;
}
