.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.content {
  padding: 2rem;
  text-align: center;
}

.title {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  color: black;
  margin-bottom: 1.5rem;
}

.button {
  width: 100%;
}
