.overview {
    margin-top: 7vh;
    padding: 2rem;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 450px auto;
    gap: 2rem;
  }
  
  @media (max-width: 768px) {
    .overview {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      padding: 1rem;
      width: 100%;
    }

    .overview > * {
      grid-column: 1 !important;
      width: 100% !important;
    }
  }
  
  sup {
    top: -0.35em;
  }
  
  .categoryBadge {
    position: absolute;
    top: -20%;
    left: -1%;
    border-radius: 0.5rem;
  }
  
  [role="dialog"] > button {
    background-color: #111111;
  }
  
  .actionText {
    color: #212fcf;
  }